body {
    background-image: url("../../assets/novooo.png");
    background-size: cover;
}

.title {
    position: absolute;
    top: 10%;
    left: 47%;
    font-size: 45px;
    transform: translateX(-50%);
    color: #3b444c;
    user-select: none;
}

.login-container {
    position: absolute;
    top: 52%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 55vh;
    align-items: center;
    padding: 20px 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: abibas;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    pointer-events: none;
    transition: 0.20s all ease;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    pointer-events: none;
    transition: 1s all ease;
    ;
}

.input-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;

}

form .submit {
    position: relative;
    width: 100%;
    padding: 10px;
    top: 1rem;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

form .submit:disabled {
    background-color: #797979;
    pointer-events: none;
    transition: 1s;
}

form .submit:enabled {
    transform: scale(1.09);
    transition: 1s;
    background-color: rebeccapurple;
    animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
    0% {
        background-color: #96bcff;
    }

    100% {
        background-color: #20c997;
    }
}

.options button {
    position: relative;
    top: 2rem;
    color: red;
    background-color: transparent !important;
    border: none;
}

.options button a {
    text-decoration: none;
    user-select: none;
}

.lembrarDeMim {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    top: 2rem;
}

.wave-group {
    position: relative;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 95%;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 90%;
}

.wave-group .bar:before,
.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
    width: 50%;
}