header {
    position: absolute;
    height: 100%;
    width: 20vw;
    left: 0;
    background-color: #000;
}

main {
    position: absolute;
    width: 80vw;
    height: auto;
    max-height: 100vh;
    left: 20vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.post {
    position: relative;
    margin-top: 2%;
    top: 12%;
    width: 95%;
    min-height: 18rem;
    background-color: rgb(186, 188, 190);
}